<div class="row">
    <div class="text-center" *ngIf="isLoading">
        <app-loading-spinner></app-loading-spinner>
    </div>
</div>

<div class="container auth-container">


    <div class="row" *ngIf="!isLoading">
        <div class="col-md-6 col-md-offset-3">

            <div class="auth-box">

                <h2 class="text-center">{{ inSignUpMode ? 'Sign Up' : 'Sign In' }}</h2>

                <div class="alert alert-danger" *ngIf="error">{{error}}</div>

                <form [formGroup]="authenticateForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" placeholder="Email" formControlName="email">

                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" placeholder="Password" formControlName="password">

                    </div>

                    <button type="submit" class="btn btn-primary" [disabled]="authenticateForm.invalid">{{inSignUpMode ?
                        'SignUp'
                        :'Sign In'}}</button> |

                    <button type="button" class="btn btn-primary" (click)="onSwitchMode()">{{!inSignUpMode ? 'Switch to
                        Sign
                        Up'
                        :
                        'Switch to Sign In' }}</button>
                </form>
            </div>
        </div>
    </div>
</div>