<div class="container">

    <div class="row">
        <div *ngIf="filteredOrder.length === 0" class="text-center">
            <h3>You have no orders yet.</h3>
        </div>
        <div *ngFor="let cartItem of filteredOrder; let i = index">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h3 class="panel-title">{{cartItem.name}}</h3>
                </div>
                <div class="panel-body">
                    <img [src]="cartItem.imageUrl" class="img-responsive img-thumbnail" style="max-height: 150px;">
                    <p>{{cartItem.description}}</p>
                </div>

                <ul class="list-group">
                    <li class="list-group-item">Order Date: {{cartItem.date | date:'medium'}}</li>
                    <li class="list-group-item">Quantity: {{cartItem.quantity}}</li>
                    <li class="list-group-item">Price: Rs. {{cartItem.price}}</li>
                    <li class="list-group-item">Status: {{cartItem.status}}</li>
                </ul>

            </div>
        </div>
    </div>

</div>